<div class='padding'>
  <div id='itemLeft'>
    <img src={{book.img}}>
  </div>
  <div id='itemMiddle'>
<!--     <div class="s-title" ng-repeat="price in prices">  //This is price info, not needed for library
      <span class="bookstore">{{price.store_id}}</span>     //unless we want to be like "such save wow"
      <span class="bookprice">${{price.price}}</span>       //cuz doge is life
    </div>
    <p>Seller's asking price: {{ book.askingPrice | currency }}</p> -->
  </div>
</div>
<div>
<div ng-controller="MailController" style="margin-left: 50%">
    <div class="b-title"> {{book.title}} </div>
    <div class="m-title">by {{book.author}} (Author)</div>
  <div style="text-align: center"><button ng-click="toggleMsgModal()" class="btn btn-default">Send Checkout Request</button></div>
  <modal show='modalMsgShown' width='750px'>
    <form>
      <div ng-controller="MailController" class="form-group">
        <label for="text">
          Your checkout request will be forwarded. Would you like to send an additional message?
        </label>
        <textarea name="text" id="userMsg" placeholder='Optional message' ng-model='userMsg' cols="100" rows="5"></textarea>
        </br>
        <button class="btn btn-default" ng-click="sendMail('checkout'); dafuq(); toggleMsgModal()">Send Mail</button>
      </div>
    </form>
  </modal>
</div>
